header{
    color: white;
    font-family: arial;
    text-align: center;
}

body{
    background: #360136;
    
}

section{
    background: white;
    border-radius: 10px;
    box-shadow: 10px 20px 20px 10px black;
    width: 500px;
    margin: auto;
    padding: 1px 0px 2px 9px;
}

div{
    font-family: arial;
}

footer{
    color: white;
    font-style: italic;
    text-align: center;

}