body{
    background: linear-gradient(90deg, #3968e9, #2a017a);
    font: normal 15pt Arial;
    
}

header{
    color:white;
    text-align:center;
}
section{
    background: white;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px #02020263;
}

footer{
    color:white;
    text-align: center;
    font-style: italic;

}